.minesweeper {
  margin: 100px 50px 50px 50px;
}

.minefield {
  line-height: 0;
  border-spacing: 0;

}

.mine {
  color: red;
  background-color: #808080;
}

.flag {
  color: blue;
  background-color: #C0C0C0;
}
.empty {
  background-color: #C0C0C0;
}

td {
  padding: 0;
  height: 33px;
  width: 33px;
  display: table-cell;
  vertical-align: inherit;
}

tr {
  border: 1px solid #ccc;
    padding: 7px 10px;
    width: 15px;
    text-align: center;
    cursor: pointer;
    font: bold 16px arial;
    background-color: #fffffa;
}
